DPSggWebApp/DPSggWebApp.Server/obj/Debug/net8.0/DPSggWebApp.Server.AssemblyInfoInputs.cache
DPSggWebApp/DPSggWebApp.Server/obj/Debug/net8.0/DPSggWebApp.Server.assets.cache
DPSggWebApp/DPSggWebApp.Server/obj/Debug/net8.0/DPSggWebApp.Server.GeneratedMSBuildEditorConfig.editorconfig
DPSggWebApp/DPSggWebApp.Server/obj/Debug/net8.0/DPSggWebApp.Server.assets.cache
DPSggWebApp/DPSggWebApp.Server/obj/Debug/net8.0/DPSggWebApp.Server.GeneratedMSBuildEditorConfig.editorconfig
DPSggWebApp/node_modules
simgui/node_modules
.dockerignore